<section class="preis_content">
    <h3>Datenschutzerklärung</h3>
  <div>
    <p>
      Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir
      verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen
      Bestimmungen (DSGVO, TKG 2003). In dieser Datenschutzerklärung informieren
      wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen
      unserer Website.
      <br />

      Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns
      aufnehmen, werden Ihre angegebenen Daten (z. B. Name, E-Mail-Adresse,
      Nachricht) zwecks Bearbeitung der Anfrage und für den Fall von
      Anschlussfragen sechs Monate bei uns gespeichert. Diese Daten geben wir
      nicht ohne Ihre Einwilligung weiter.
      <br /><br />
      Diese Website verwendet Google Maps, um geographische Informationen
      visuell darzustellen. Beim Aufruf von Google Maps werden Daten an Google
      übertragen (z. B. IP-Adresse, Browserdaten). Diese Datenverarbeitung liegt
      außerhalb unseres Einflussbereichs. Weitere Informationen zur
      Datenverarbeitung durch Google finden Sie in der Datenschutzerklärung von
      Google: (<a
        style="color: black; font-size: 18px"
        href="https://policies.google.com/privacy"
        >https://policies.google.com/privacy</a
      >) <br /><br />
      Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung,
      Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch
      zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
      Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst
      in einer Weise verletzt worden sind, können Sie sich bei der
      Datenschutzbehörde beschweren. In Österreich ist dies die:
      <br />
      Österreichische Datenschutzbehörde <br />
      Barichgasse 40–42 <br />
      1030 Wien <br />
      (<a
        target="_blank"
        style="color: black; font-size: 18px"
        href="https://www.dsb.gv.at"
        >https://www.dsb.gv.at</a
      >)

      <br /><br />
      <strong>Kontakt</strong> <br />

      Gästehaus Lugwig <br />
      Erika Ludwig <br />
      Gaffelar 57 <br />
      6563 Galtür, Österreich <br />
      <a href="mailto:frey.guensberg@bluewin.ch">frey.guensberg&#64;bluewin.ch</a> <br />
      Tel: +43(5443)8419
    </p>
  </div>
</section>
