<section class="zimmer_content">
  <h3>Unsere Pensionszimmer</h3>

  <div class="rooms_content">
    <div class="rooms_box">
      <img
        src="./assets/zimmer/4.jpg"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 2 Personen <br />
          Gemütliches Doppelzimmer mit zusätzlicher Doppelschlafcouch im Wohnbereich
        </p>
      </div>

      <div class="bed_info bottom_info">
        <h2>Alpen Duo</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>
  </div>
</section>
