
<section class="zimmer_content">
    <div class="zimmer_text">
        <h3>Unsere Pensionszimmer</h3><br>
        <p>Wir haben insgesamt 4 Zimmern</p>
        <p>Komfortable Apartments für Ihren perfekten Aufenthalt</p>
        <p>Erleben Sie echte österreichisch-bayerische Gemütlichkeit in unseren liebevoll eingerichteten
            Apartments! Mit traditionellen Elementen und einer warmen Atmosphäre bieten wir Ihnen ein
            authentisches Wohngefühl – rustikal, charmant und einladend.</p>

        <a href="zimmer.html"><button>Mehr Infos und Preise</button></a>
    </div>
    <div class="zimmer_img">
        <img src="./assets/zimmer/2.jpg" alt="">
        <img src="./assets/zimmer/1.jpg" alt="">
        <img src="./assets/zimmer/3.jpg" alt="">
        <img src="./assets/zimmer/4.jpg" alt="">
        <img src="./assets/zimmer/5.jpg" alt="">
        <img src="./assets/zimmer/6.jpg" alt="">
        <img src="./assets/zimmer/7.jpg" alt="">
        <img src="./assets/zimmer/8.jpg" alt="">
        <img src="./assets/zimmer/9.jpg" alt="">
        <img src="./assets/zimmer/10.jpg" alt="">
        <img src="./assets/zimmer/11.jpg" alt="">
    </div>
</section>