<section class="zimmer_content">
  <h2>Unsere Pensionszimmer</h2>

  <div class="rooms_content">
    <div class="rooms_box">
      <img
        src="./assets/zimmer/4.jpg"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 2 Personen <br />
          Gemütliches Doppelzimmer mit zusätzlicher Doppelschlafcouch im Wohnbereich
        </p>
      </div>

      <div class="bed_info bottom_info">
        <h2>Alpen Zimmer</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>
 

    <div class="rooms_box">
      <img
        src="./assets/zimmer/7.jpg"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-einzelbett-64.png" alt="einzelbettbett" />
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 3 Personen <br />
          Gemütliches Doppelzimmer mit zusätzlicher Doppelschlafcouch im Wohnbereich
        </p>
      </div>

      <div class="bed_info bottom_info">
         <h2>Alpen Family Zimmer</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>
 </div>
</section>
