.zimmer_content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 1440px;
  width: 100%;
  height: auto;
}

.rooms_box {
  width: 25rem;
  height: 50vh;
  border: 1px solid #02301941;
  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    background-size: cover;
  }
}

.bed_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}

.bed_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  gap: 10px;

  img {
    width: 1.6rem;
  }
}

.appartments_text {
  width: 50%;
  color: #023019;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

button {
  background-color: #023019;
  border: 1px solid #ffffffa6;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #99a361;
  }
}
@media(max-width: 780px) {
.zimmer_content{
  padding: 20px;
}
}

@media(max-width: 654px) {
.rooms_box {
  width: 100%;
  height: 60vh;
  border: 1px solid #02301941;

}
}