<div class="content">
    <p>Willkommen</p>
    <p class="title">Gästehaus Ludwig</p>
</div>

<section class="home">
    <div class="home_img">
        <img src="./assets/img/7327816.jpg" alt="">
        <img src="./assets/img/85DC2535-6879-49AB-AAE0-2012196739B0.JPG" alt="">
        <img src="./assets/img/IMG_2815.JPG" alt="">
        <img src="./assets/img/IMG_2816.JPG" alt="">
        <img src="./assets/img/Gästehaus.png" alt="">
    </div>
    <div class="home_text">
    
        <p>
            Wir bieten Ihnen schöne Ferienwohnungen und Pensionszimmer, bei denen Preis und Leistung stimmen.
        </p>
        <p><img src="./assets/icon/gehen.png" alt="">Unser Haus liegt ruhig und dennoch zenral <br>(5 Gehminuten zum
            Dorfzentrum).</p>

        <p><img src="./assets/icon/lift.png" alt="">Entfernung zum Skigebiet: 2 - 5 km</p>
    </div>
</section>

<section class="ausstattung_content">
    <h2>Inklusivleistungen und Ausstattung</h2>
    <div class="box_content">
        <div>
            <p><img src="./assets/icon/parkplatz.png" alt="">Parkplatz</p>
            <p><img src="./assets/icon/pfote.png" alt="">Haustiere möglich</p>
            <p><img src="./assets/icon/wi-fi.png" alt="">WLAN</p>
            <p><img src="./assets/icon/checkbox.png" alt="">Aufenthaltsraum
                <br>(mit Sitzgelegenheiten und Spielen)
            </p>
            <p><img src="./assets/icon/ski.png" alt="">Skikeller</p>
        </div>
        <div>
            <p><img src="./assets/icon/checkbox.png" alt="">Bettwäsche</p>
            <p><img src="./assets/icon/checkbox.png" alt="">Handtücher</p>
        </div>
    </div>

</section>
