<section class="kontakt">
  <div id="contact" class="form_content">
    <h2>Schreiben Sie uns</h2>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <label>
        <input
          type="text"
          name="name"
          #name="ngModel"
          [placeholder]="'Ihr Name*'"
          [(ngModel)]="contactData.name"
          required
        />
      </label>
      <label>
        <input
          type="tel"
          name="phone"
          #phone="ngModel"
          [placeholder]="'Ihr Telefon*'"
          [(ngModel)]="contactData.phone"
          required
          pattern="^[\d\s\+\-()]{7,20}$"
        />
      </label>
      <label>
        <input
          type="email"
          name="email"
          [(ngModel)]="contactData.email"
          required
          pattern="[a-z0-9._%+\-]+@[a-z0-9\-]+\.[a-z]{2,}$"
          #email="ngModel"
          [placeholder]="'Ihre E-Mail*'"
          [ngClass]="{ 'input-error': email.invalid && email.touched }"
        />
      </label>

      <label>
        <textarea
          name="message"
          id="message"
          placeholder="Ihre Nachricht"
          [(ngModel)]="contactData.message"
        ></textarea>
      </label>

      <label class="checkbox">
        <input
          type="checkbox"
          [(ngModel)]="isChecked"
          name="check"
          id="check"
          required
        />
        <p>
          Ich habe die <a href="/policy">Datenschutzerklärung</a> gelesen und
          akzeptiere diese.
        </p>
      </label>

      <button
        type="submit"
        [disabled]="!contactForm.valid"
        [ngClass]="{
          'enabled-btn': contactForm.valid,
          'disabled-btn': !contactForm.valid
        }"
      >
        Senden
      </button>
      <div *ngIf="email.invalid && email.touched" class="error-msg">
        Bitte eine gültige E-Mail-Adresse eingeben.
      </div>
    </form>
  </div>
  <div class="contact_content">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5445.681164785414!2d10.187396976272225!3d46.964822132074964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47834d7010f657ff%3A0x7e90e36c2bffc1b!2sG%C3%A4stehaus%20Ludwig!5e0!3m2!1sde!2sde!4v1744303712610!5m2!1sde!2sde"
      width="100%"
      height="410"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
