section {
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #f0eeea;
    display: flex;
    justify-content: center;
    flex-direction: column;

    app-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2000;
        display: flex;
        justify-content: center;
    }

    app-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1440px;
        width: 100%;
    }

    app-apartments{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1440px;
        width: 100%;
    }

    app-zimmer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1440px;
        width: 100%;
    }

    app-contactform{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1440px;
        width: 100%;
    }

    app-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1440px;
        width: 100%;
    }
}