footer {
  background-color: #023019;
  width: 100%;
  color: #ffffffea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.green_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
h4 {
  margin: 0;
}
.footer1 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_credits a, .footer_credits2 a {
  font-size: 15px;
  color: rgb(206, 206, 206);
}

.footer_credits, .footer_credits2 {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.footer_credits a:hover, .footer_credits a:hover {
  text-decoration: underline;
  color: rgb(245, 255, 152);
}

.footer_credits2 {
 display: none;
}

.footer3 {
  padding-right: 50px;
  filter: brightness(11.5);
  text-align: end;
}

.footer3 img:hover {
  filter: brightness(1.1) sepia(1) saturate(5) hue-rotate(-10deg);
}

.footer3 img {
  width: 30px;
}

@media(max-width: 780px) {
  .footer3 {
    padding-right: 20px;
}
.footer1 {
    padding-left: 20px;
  }
}

@media(max-width: 600px) {
.footer_credits{display:none;}
.footer_credits2{display:flex;}

footer{
  flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media(max-width: 430px) {
  .footer3 {
    padding-right: 0px;
}
.footer1 {
    padding-left: 0px;
  }
}