<footer>
  <section class="green_footer">
    <div class="footer1">
      <h4>Gästehaus Ludwig</h4>
      <span>Gaffelar 57</span>
      <span>6563 Galtür, Österreich</span>
      <span>Tel: +43(5443)8419</span>
      <span>
        <a href="mailto:frey.guensberg@bluewin.ch"
          >frey.guensberg&#64;bluewin.ch</a
        >></span
      >
    </div>

    <div class="footer_credits">
      <a [routerLink]="['policy']">Datenschutz</a>
      <a [routerLink]="['imprint']">Impressum</a>
    </div>

    <div class="footer3">
      <p>Folgen Sie uns</p>
      <a href="https://www.instagram.com/gaestehaus_ludwig/" target="_blank"
        ><img src="./assets/icon/icons8-instagram-50.png" alt="Instagram"
      /></a>
      <a
        href="https://www.facebook.com/people/G%C3%A4stehaus-Ludwig/100091957125146/#"
        target="_blank"
        ><img src="./assets/icon/icons8-facebook-neu-50.png" alt="Facebook"
      /></a>
    </div>
  </section>

  <div class="footer_credits2">
    <a [routerLink]="['policy']">Datenschutz</a>
    <a [routerLink]="['imprint']">Impressum</a>
  </div>
</footer>
