<section class="box">
  <h3>Unsere Pensionszimmer</h3>
  <div class="slideshow-container" style="max-width: 1440px; margin: auto;">
    
    <!-- Große Bilder -->
    <img
      #slide
      *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11]; let i = index"
      class="mySlides"
      [src]="'./assets/zimmer/' + n + '.jpg'"
      [style.display]="'none'"
      style="width:300px"
    />

    <!-- Thumbnails -->
    <div class="thumbnails" style="display:flex;flex-wrap:wrap;margin-top:16px;gap:10px;">
      <img
        #thumb
        *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11]; let i = index"
        class="demo"
        [src]="'./assets/zimmer/' + n + '.jpg'"
        style="width:100px;cursor:pointer;"
        (click)="currentSlide(i + 1)"
      />
    </div>

  </div>
</section>

<section class="preis_content">
  <div class="preisliste1">
    <h3>Preise</h3>
    <h3>Preise Pro Nacht</h3>
  </div>
  <div class="wohnung_content">
    <p><strong>3x</strong> Doppelzimmer</p>
    <div class="s_w_preise"> 
      <p>Winter 60 - 80 €</p> |
      <p>Sommer 40 €</p>
    </div>
  </div>
  <div class="wohnung_content1">
    <p><strong>1x</strong> Dreibettzimmer</p>
    <div class="s_w_preise"> 
      <p>Winter 80 - 100 €</p> |
      <p>Sommer 50 €</p>
    </div>
  </div>
</section>
