.container {
  font-family: "helvetica", sans-serif;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #023019;
}

.box {
  padding: 150px 50px 50px 50px;
  width: 100%;
}
h1{
  font-size: 2rem;
}

.img_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 50px;
}

.img_box img {
  width: 300px;
  object-fit: cover;
  height: 200px;
}

.mySlides {
  cursor: pointer;
  opacity: 0.6;
  width: 50px;
  object-fit: cover;
  transition: opacity 0.3s;
  border-radius: 4px;
}

.mySlides:hover {
  opacity: 1;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 75px;
}

.preis_content {
  background-color: #fcfcfca6;
  padding: 20px 50px;
  width: 100%;
}

.preisliste {
  display: flex;
  justify-content: space-between;
  color: #023019;
  margin-bottom: 20px;
}

.wohnungsliste {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wohnung {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  color: #023019;
}

.beschreibung {
  flex: 1 1 60%;
}

.preise {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  text-align: right;
}
// // overlay

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(63, 63, 63, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 2px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}

.nav-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10000;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.left-btn {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.right-btn {
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.close-btn {
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .wohnung {
    flex-direction: column;
  }

  .preise {
    align-items: flex-start;
    text-align: left;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
.box{
      padding: 150px 20px 20px 20px;
}
.preis_content{
  padding: 20px 20px;
}
.wohnung{
  padding: 20px 0px;
}
}
