<section class="container">

<section class="box">
  <h1>Pensionzimmer</h1>
      <br />
    <p>Wir haben insgesamt 4 Ferienwohnungen</p><br>
    <p>
      Genießen Sie Ihren Aufenthalt in unseren komfortablen Ferienwohnungen im
    Herzen von Österreich. Unsere Apartments bieten Ihnen eine perfekte
    Kombination aus traditionellem Charme und modernem Komfort.
    </p>
  <div class="slideshow-container" style="max-width: 1440px; margin: auto; width:100%;">


    <!-- Overlay für großes Bild -->
<div class="image-overlay" *ngIf="showOverlay">
  <button class="nav-btn close-btn" (click)="closeOverlay()">✕</button>
  <button class="nav-btn left-btn" (click)="previousImage()">‹</button>
  <img [src]="overlayImage" alt="Großansicht" (click)="$event.stopPropagation()" />
  <button class="nav-btn right-btn" (click)="nextImage()">›</button>
</div>

    <!-- Thumbnails -->
    <div class="thumbnails" style="display:flex; flex-wrap:wrap; margin-top:16px; gap:10px;">
      <img
        *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]; let i = index"
        class="mySlides"
        [src]="'./assets/zimmer/' + n + '.jpg'"
        style="width:100px;height:100px;cursor:pointer;"
       (click)="openOverlay(i)"
      />
    </div>

  </div>
</section>

<section class="preis_content">
  <div class="preisliste">
    <h3>Preise</h3>
    <h3>Preise Pro Nacht</h3>
  </div>

  <div class="wohnungsliste">
    <div class="wohnung">
      <div class="beschreibung">
        <h4>Alpen Zimmer</h4>
        <p><strong>3x </strong>Doppelzimmer</p>
      </div>
      <div class="preise">
        <p>Winter 60 - 80 €</p>
        <p>Sommer 40 €</p>
      </div>
    </div>

    <div class="wohnung">
      <div class="beschreibung">
        <h4>Alpen Family Zimmer</h4>
        <p><strong>1x </strong>Dreibettzimmer</p>
      </div>
      <div class="preise">
        <p>Winter 80 - 100 €</p>
        <p>Sommer 50 €</p>
      </div>
    </div>
  </div>
</section>
</section>
