<div class="imprint_container">
  <h3><strong>Impressum</strong></h3>

  <div class="wohnung_content">
    <p>
      Angaben gemäß § 5 ECG / § 24 Mediengesetz <br /><br />
      Gästehaus Lugwig <br />
      Erika Ludwig <br />
      Gaffelar 57 <br />
      6563 Galtür, Österreich <br />
      <a href="mailto:frey.guensberg@bluewin.ch"
        >frey.guensberg&#64;bluewin.ch</a
      >
      <br />
   Tel: +43(5443)8419
      <br />
      <br />
      Unternehmensgegenstand <br />
      Privat geführtes Gästehaus???<br /><br />

      Haftung für Inhalte <br />
      Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
      keine Gewähr übernehmen.
      <br /><br />
      Haftung für Links <br />
      Unsere Website enthält Links zu externen Websites. Für die Inhalte der
      verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
      <br /><br />
      Icons verwendet von Icons8 <br />
      Die auf dieser Website verwendeten Icons stammen von **Icons8** und sind
      lizenziert unter
      [https://icons8.de/icons/set/gehen--static--c-023019](https://icons8.de/icons/set/gehen--static--c-023019).

      <br /><br />
      Urheberrecht <br />
      Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser
      Website unterliegen dem Urheberrecht. Die Vervielfältigung, Bearbeitung
      oder Verbreitung bedarf der schriftlichen Zustimmung.

      <br /><br />

      Online-Streitbeilegung <br />
      Verbraucher haben die Möglichkeit, Beschwerden an die
      Online-Streitbeilegungsplattform der EU zu richten:
      [https://ec.europa.eu/consumers/odr](https://ec.europa.eu/consumers/odr)

      <br /><br />

      Quelle <br />
      Teile dieses Impressums wurden mit Unterstützung von
      [https://www.wko.at](https://www.wko.at) erstellt.
    </p>
  </div>
</div>
