<section class="appartments_content">
    <div class="appartments_text">
        <h3>Gemütliche Apartments im alpinen Stil</h3><br>
        <p>Wir haben insgesamt 5 Ferienwohnungen</p>
        <p>Komfortable Apartments für Ihren perfekten Aufenthalt</p>
        <p>Erleben Sie echte österreichisch-bayerische Gemütlichkeit in unseren liebevoll eingerichteten
            Apartments! Mit traditionellen Elementen und einer warmen Atmosphäre bieten wir Ihnen ein
            authentisches Wohngefühl – rustikal, charmant und einladend.</p>
        <a href="apartments.html"><button>Mehr Infos und Preise</button></a>

    </div>
    <div class="appartments_img">
        <img src="./assets/appartments/1.JPG" alt="">
        <img src="./assets/appartments/2.JPG" alt="">
        <img src="./assets/appartments/3.JPG" alt="">
        <img src="./assets/appartments/4.JPG" alt="">
        <img src="./assets/appartments/7.JPG" alt="">
        <img src="./assets/appartments/8.JPG" alt="">
        <img src="./assets/appartments/9.JPG" alt="">
    </div>


</section>
