<section class="appartments_content">
  <div class="appartments_text">
    <h2>Gemütliche Apartments im alpinen Stil</h2>
  </div>

  <div class="rooms_content">
    <div class="rooms_box">
      <img
        src="./assets/appartments/3.JPG"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-sofa-64.png" alt="Schlafcouch" />
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 4 Personen <br />
        Gemütliches Doppelzimmer mit zusätzlicher Doppelschlafcouch im Wohnbereich
        </p>
      </div>
      <div class="bed_info">
        <h2>Alpen Duo</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>

    <div class="rooms_box">
      <img
        src="./assets/appartments/7.JPG"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-sofa-64.png" alt="Schlafcouch" />
          <img src="./assets/icon/icons8-einzelbett-64.png" alt="Einzelbett" />
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 5 Personen <br />
          Familienfreundliche Wohnung mit Dreibettzimmer und Doppelschlafcouch im Wohnbereich
        </p>
      </div>
      <div class="bed_info">
        <h2>Alpen Family Flat</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>

    <div class="rooms_box">
      <img
        src="./assets/appartments/9.JPG"
        alt="Appartments mit 3 Bettzimmer"
      />
      <div class="bed_info">
        <div class="bed_content">
          <img src="./assets/icon/icons8-sofa-64.png" alt="Schlafcouch" />
          <img src="./assets/icon/icons8-einzelbett-64.png" alt="Einzelbett" />
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
          <img src="./assets/icon/icons8-bett-50.png" alt="Doppelbett" />
        </div>
        <p>
          Max. 6 - 7 Personen <br />
          Komfortwohnung mit zwei Schlafzimmern – beide mit eigener Dusche/WC
        </p>
      </div>
      <div class="bed_info">
        <h2>Komfort Duo Apartment</h2>
        <button [routerLink]="['/apartmentInfo']">Mehr Infos und Preise</button>
      </div>
    </div>
  </div>
</section>
